<h1> Angular & nodeJS & Mysql </h1>
<form [formGroup]="profile" (ngSubmit)="OnSubmit()" >
  <label for="name">name: </label>
  <input name="name" type="text" formControlName="name" required minlength="4">
  <br>
  <div *ngIf="name?.invalid && name?.touched">
    <div *ngIf="profile.get('name')?.errors?.['required']">
      Name is required
    </div>
    <div *ngIf="profile.get('name')?.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
  </div>

  <br>
  <label for="surname">surname: </label>
  <input name="surname" type="text" formControlName="surname" required minlength="4">
  <br>
  <div *ngIf="surname?.invalid && surname?.touched">
    <div *ngIf="profile.get('surname')?.errors?.['required']">
      Surname is required
    </div>
    <div *ngIf="profile.get('surname')?.errors?.['minlength']">
      Surname must be at least 4 characters long.
    </div>
  </div>
  <br>
  <button type="submit" [disabled]="!profile.valid">Submit</button>
  <br>
  </form>
  <p style="color:blue;">Database list</p>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
    </tr>
    <tr *ngFor="let data of userData">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.surname}}</td>
    </tr>
  </table>
  <p style="color:blue;">Delete id in database list</p>
  <input type="number" id="id" [formControl]='id' >
  <br>
  <br>
  <button (click)="Deleteid()">Delete User Id</button>